<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="simpleDBForm.My.MySettings.databaseDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\database.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>
